img {
    width: 100%;
}

.container-flex {
    display: flex;
}

.container-flex div{
    padding: 30px;
    background-color: lightgreen;
}

.list {
    width: 300px;
}

.identification {
    width: 100%;
}